.start_btn {
  color: green;
  background-color: white;
  border-radius: 5px;
}

.end_btn {
  color: red;
  background-color: white;
  border-radius: 5px;
}

.draw_btn {
  color: blue;
  background-color: white;
  border-radius: 5px;
}
.main {
  text-align: center;
}

button:active {
  transform: scale(0.95); /* 버튼을 약간 줄임 */
  transition: transform 0.2s;
}
button:disabled {
  background-color: #cccccc; /* 회색 톤 배경 */
  color: #666666; /* 어두운 글자색 */
  cursor: not-allowed; /* 마우스 커서 변경 */
  border: 1px solid #aaaaaa; /* 테두리 색상 변경 */
}
.text_input {
  width: 350px;
}
